.link-holder {
  @apply w-full h-full flex flex-col justify-center items-end  gap-8;

  .the-link {
    @apply uppercase font-semibold text-sm hover:bg-blue-200 w-full py-1 px-2 rounded-lg shadow-md;
  }
}

.on {
  @apply relative;
}
.on::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  top: 0;
  right: 0;
}
